@model IEnumerable<PersonRequest>

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Запит на курси";
}

@{
    foreach (PersonRequest request in Model)
    {
        <div class="border rounded p-3 mb-4 form-article">

            <div class="form-group">
                <label>Імя : @request.Name</label>
                <label>Електронна адреса: @request.Email</label>
                <label>Номер телефону: @request.Number</label>
                <label>Запис на заняття: @request.TypeForm</label>
            </div>

            <form asp-action="DeletePersonRequest" asp-controller="SendEmail">
                <div class="form-group" style="display: none">
                    <input name="personRequestId" asp-for="@request.Id" class="form-control" />
                </div>    
                
                <div class="text-right mt-3">
                    <label>Дата створення: <b>@request.DateTime</b></label>
                    <br />
                    <input class="btn btn-light" type="submit" value="Удалити">
                </div>
            </form>
        </div>
    }
}